@import '../../../../css/variable.less'; // display: none;
.line-box {
    border: 1px solid @border-color;
    background: #fff;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    z-index: 999;

    .btn-continue {
        box-sizing: border-box;
        background: #f9444e;
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
    }
}
