@import '../../css/variable.less';
@emoji-hover-color: #45ac4a;
// 表情包-经典表情包，.emoji .emoji-classics-1,72

.emoji {
    width: 24px;
    height: 24px;
    display: inline-block;
}


.emoji-body {
  display: none;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    top: -208px;
    left: 20px;
    .classics {
        margin: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        .emoji-item {
            cursor: pointer;
            padding: 0;
            width: 28px;
            height: 28px;
            text-align: center;
        }
    }
}
