<div class="emoji-body">
    <table class="classics">
        {{#classics}}
        <tr>
            {{#.}}
            <td class="emoji-item">
                <div class="emoji-border" data-id="{{id}}" data-idx="{{idx}}">
                    <span class="emoji">
                        <img src="{{src}}" alt="{{id}}">
                    </span>
                </div>
            </td>
            {{/.}}
        </tr>
        {{/classics}}
    </table>
    <!-- <div class="emoji-show-body">
        <img />
    </div> -->
</div>
