// 由于gulp坑爹的限制，背景图只能放这里生成
.notice-body {
    .new-tag {
        background: url('../imgs/new.png');
    }
}

.rate-body {
    .rate-item {
        background: url('../imgs/star_lg.png');
        &.active {
            background: url('../imgs/star_on_lg.png');
        }
    }
}

.header {
    background-image: url('../imgs/header-bg.jpg');
}