<div class='dialog-body'>
    <div class="dialog-container">
        <div class="dialog-center">
            <div class="dialog-text">
                 <table>
                     <tr>
                         <td class="check">
                             <span class="dialog-img"></span>
                         </td>
                         <td class="dialog-msg">
                            {{message}}
                         </td>
                     </tr>
                 </table>
                 <span class="close">x</span>
            </div>
        </div>
    </div>
</div>