
body {
    font-size: 14px;
    font-family: 'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB','\\5b8b\4f53',sans-serif;

    .a {
        width: 20px;
        height: 20px;
        background-image: url(./imgs/s01.gif)
    }
    .b {
        width: 20px;
        height: 20px;
        background-image: url(./imgs/s02.gif)
    }
}

.jtalk-editor{
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
}

